.plus-icon{
    height: 18px;
    width: 18px;
}

.todo-input-wrapper{
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e8f0;
}

.todo-input-wrapper input {
    background-color: #e2e8f0;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.todo-input-wrapper button{
    background-color: aquamarine;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}